/* ! --------- Typekit Fonts --------------- !
* Bourbon Oblique
    font-family: bourbon, serif;
    font-weight: 400;
    font-style: italic;

* Bourbon Regular
    font-family: bourbon, serif;
    font-weight: 400;
    font-style: normal;

* FF Ernestine Pro Demibold
    font-family: ff-ernestine-pro, serif;
    font-weight: 600;
    font-style: normal;
*/

@font-face {
  font-family: 'roboto';
  src: url('../fonts/roboto-bold-webfont.woff2') format('woff2'),
    url('../fonts/roboto-bold-webfont.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'roboto';
  src: url('../fonts/roboto-italic-webfont.woff2') format('woff2'),
    url('../fonts/roboto-italic-webfont.woff') format('woff');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'roboto';
  src: url('../fonts/roboto-regular-webfont.woff2') format('woff2'),
    url('../fonts/roboto-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

:root {
  /* Colors */
  --clr_red: #CC0033;
  --clr_red-dark: #990000;
  --clr_black: #1b1b1b;
  --clr_gray-light: #f3f3f3;
  --clr_gray-med_light: #e3e3e3;
  --clr_gray-medium: #858383;
  --clr_gray-dark: #3d3d3d;

  --fnt_heading-fam: 'ff-ernestine-pro', serif;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

html {
  font-size: 100%;
}

body {
  color: var(--clr_black);
  font: 1rem/1.5 'roboto', Helvetica, Arial, sans-serif;

  min-height: 100vh;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--fnt_heading-fam);
  font-style: normal;
  font-weight: 600;

  margin-top: .25rem;
  margin-bottom: .75rem;

  max-width: 45rem;
}

h1 {
  font-size: 2rem;
}

h2 {
  text-align: center;
}

p {
  margin: 0 0 .5rem;
  max-width: 45rem;
}

a:link,
a:visited {
  color: var(--clr_red);
  text-decoration: none;
}

a:hover {
  color: var(--clr_red-dark);
}

img {
  width: 100%;
}

form {
  position: relative;
}

.hidden {
  display: none !important;
}

.menu_hidden {
  display: none !important;
}

.red-btn {
  background-color: var(--clr_red) !important;
  color: #fff !important;
  transition: background-color .2s ease-in-out;
}

.red-btn:hover,
.red-btn:active,
.red-btn:focus {
  background-color: var(--clr_red-dark) !important;
  cursor: pointer;
}

.full_btn {
  margin-bottom: .05rem;
  padding: .5rem;

  display: block;

  font-family: 'ff-ernestine-pro', serif;
  text-align: center;
}

/* ! ------------- NAV ------------------ ! */
.navigation {
  background: #fff;
  border-bottom: 2px solid var(--clr_red);
  height: 4.375rem;
}

.brand {
  float: left;

  width: 9rem;

  position: absolute;
  left: .5rem;
  top: .25rem;
}

.brand a,
.brand a:visited {
  color: #ffffff;
  text-decoration: none;
}

#search_icon {
  height: 2.375rem;

  position: absolute;
  top: 1rem;
  right: 4rem;
}

.search_link {
  display: none;
}

.nav-container {
  margin: 0 auto;
  max-width: 70rem;
  position: relative;
}

nav {
  float: right;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  float: left;
  position: relative;
}

nav ul li a,
nav ul li a:visited {
  background: var(--clr_gray-light);

  display: block;
  padding: 0 20px;

  line-height: 70px;
  text-decoration: none;

  transition: background-color .2s ease-in-out, color .2s ease-in-out;
}

nav ul li a:hover,
nav ul li a:visited:hover {
  background: var(--clr_red-dark);
  color: #ffffff;
}

nav ul li a:not(:only-child):after,
nav ul li a:visited:not(:only-child):after {
  padding-left: 4px;
  content: ' ▾';
}

nav ul li ul li {
  min-width: 190px;
}

nav ul li ul li a {
  padding: 15px;
  line-height: 20px;
}

.nav-dropdown {
  position: absolute;
  display: none;
  z-index: 1;
  box-shadow: 0 3px 12px rgba(0, 0, 0, 0.15);
}

/* Mobile navigation */
.nav-mobile {
  display: none;

  position: absolute;
  top: 0;
  right: 0;

  height: 70px;
  width: 70px;
}

@media only screen and (max-width: 798px) {
  .nav-mobile {
    display: block;
  }

  nav {
    width: 100%;
    padding: 4.375rem 0 0;
  }

  nav ul {
    display: none;
  }

  nav ul li {
    float: none;
  }

  nav ul li a {
    padding: 15px;
    line-height: 20px;
  }

  nav ul li ul li a {
    padding-left: 30px;
  }

  .nav-dropdown {
    position: static;
  }
}

@media screen and (min-width: 799px) {
  .nav-list {
    display: block !important;
  }

  .search {
    display: none
  }

  .search_link {
    display: block;
  }

  nav ul li a,
  nav ul li a:visited {
    background: none;
  }
}

#nav-toggle {
  position: absolute;
  left: 18px;
  top: 22px;

  cursor: pointer;

  padding: 10px 35px 16px 0px;
}

#nav-toggle span,
#nav-toggle span:before,
#nav-toggle span:after {
  content: '';
  display: block;
  cursor: pointer;

  height: 5px;
  width: 35px;

  background: var(--clr_black);

  position: absolute;
  transition: all 300ms ease-in-out;
}

#nav-toggle span:before {
  top: -10px;
}

#nav-toggle span:after {
  bottom: -10px;
}

#nav-toggle.active span {
  background-color: transparent;
}

#nav-toggle.active span:before,
#nav-toggle.active span:after {
  top: 0;
}

#nav-toggle.active span:before {
  transform: rotate(45deg);
}

#nav-toggle.active span:after {
  transform: rotate(-45deg);
}

/* ! ------------- MAIN ------------------ ! */
main {
  display: flex;
  flex-direction: column;
  align-items: center;

  margin-left: auto;
  margin-right: auto;
  padding: 1rem 2rem;

  max-width: 74rem;
}

section {
  margin-bottom: 1.5rem;
}

.rec-btn {
  font-size: .9em;
  font-weight: bold;
  text-align: center;

  padding: .5rem 1.25rem;
}

@media screen and (min-width: 22.5rem) {
  .rec-btn {
    font-size: 1.15rem;
    padding: .5rem 1.25rem;
  }
}

#hero {
  overflow: hidden;
  justify-content: center;

  margin: -1rem -2rem 0;

  height: 10rem;
  width: 100vw;
}

#index_hero_img {
  position: relative;
  top: 0;
}


#hero_img {
  position: relative;
}

#hero h3 {
  background-color: #fff;

  display: inline-block;
  padding-right: .5rem;
  margin: 0;

  bottom: -.25rem;
  position: absolute;
  left: 0;

  z-index: 1;
}

#mission {
  background-color: var(--clr_gray-light);

  margin: 0 -100rem 1.5rem;
  margin-top: 1rem;
  padding: 1rem 2rem;

  width: 100vw;
  max-width: 45rem;
}

.rec_grid {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#no-results {
  display: flex;
  flex-direction: column;
  grid-column: 1 / 3;
}


.recipe {
  display: grid;
  grid-template-columns: 8rem auto;
  grid-template-areas:
    "img title""img btn";
  grid-column-gap: .5rem;

  margin-bottom: 1rem;

  width: 100%;
  max-width: 21rem;
}


.recipe::after {
  content: "";
  background: var(--clr_red);
  justify-self: center;

  grid-column: 1 / 3;

  margin-top: 1rem;

  height: .1rem;
  width: 10rem;
}

.recipe:last-of-type::after {
  content: none;
}

.rec_img {
  grid-area: img;
}

.rec_title {
  grid-area: title;
  line-height: 1.4rem;
  margin-bottom: 0;
}

.rec_subtitle {
  color: var(--clr_gray-dark);
  grid-area: subtitle;
  margin-bottom: .25rem;
}

.rec_desc {
  grid-area: desc;
}

.recipe a {
  align-self: end;
  grid-area: btn;
  justify-self: end;
}

/* ! ------------- FOOTER ------------------ ! */
footer {
  background-color: var(--clr_gray-light);
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 1rem 1rem;
}

#social {
  display: grid;
  justify-self: end;

  order: 2;
  grid-template-columns: repeat(3, 3.75rem);
  grid-template-rows: 1.75rem 2.5rem;
  justify-items: center;
}

#social h6 {
  font-size: 1rem;
  text-align: center;

  grid-column: 1 / 4;
}

.soc-icon {
  width: 2.5rem;
}

.soc-icon:last-of-type {
  margin-right: 0
}

#footer_nav ul {
  list-style-type: none;

  margin: 0;
  padding-left: 0;
}

.foot_link a:link,
.foot_link a:visited {
  color: var(--clr_gray-medium);
  transition: color .2s ease-in-out;
}

.foot_link a:hover,
.foot_link a:focus,
.foot_link a:active {
  color: var(--clr_black);
}

/* ! ------------- REC TEMPLATE ------------------ ! */
#rec-title {
  line-height: 1.25;
  margin-bottom: .25rem;
}

#rec-sides {
  color: var(--clr_gray-medium);
  font-size: 1.25rem;
  text-align: left;
}

#rec-stats {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: .75rem;
  justify-items: center;

  margin-left: auto;
  margin-right: auto;

  width: 18rem;
}

#rec-stats .info {
  border-bottom: 2px solid var(--clr_gray-medium);
  padding: .5rem 0;
  text-align: center;
  width: 100%;
}

.rec {
  margin-bottom: 2.5rem;
}

#rec-desc p:first-of-type::first-letter {
  color: var(--clr_red);
  font-family: var(--fnt_heading-fam);
  font-size: 3rem;
  line-height: 60;

  float: left;
  padding: .5rem .5rem 0 .25rem;
}

#rec-info h3 {
  font-size: 1.5rem;
}

#rec-info section {
  margin-bottom: 1.25rem;
}

#ing_list {
  list-style-type: none;
  padding-left: 1rem;
}

#ing_list li {
  margin-bottom: .5rem;
}

#dir_list {
  counter-reset: hc_counter;
  list-style: none;
}

#dir_list li {
  counter-increment: hc_counter;
  position: relative;
}

#dir_list li::before {
  color: var(--clr_red);
  font-family: var(--fnt_heading-fam);
  font-size: 3rem;

  border-radius: .25rem;
  content: counter(hc_counter);

  display: inline-flex;
  justify-content: center;
  align-items: center;

  position: absolute;
  left: -2.5rem;
  top: 0.25rem;

  height: 2rem;
  width: 2rem;
}

#dir_list li p {
  margin-bottom: 0;
}

#dir_list li::after {
  background: var(--clr_red);
  content: "";
  display: block;

  margin-top: 1.5rem;
  margin-bottom: 1.5rem;

  height: .1rem;
  width: 100%;
}

/* ! ------------- SEARCH ------------------ ! */
#search_form {
  display: flex;
  flex-direction: column;
  position: relative;
  margin-bottom: 3rem;
}

#search {
  border: none;
  border-bottom: 2px solid var(--clr_gray-dark);
  padding: .5rem .25rem;
  margin-bottom: .5rem;
  width: 13rem;
}

.search-btn {
  border: none;
  height: 2rem;
  width: 100%;
}

#filter_icon {
  height: 2rem;
}

#filter_toggle {
  cursor: pointer;
  display: inline-block;

  position: absolute;
  top: .25rem;
  right: 0;
}

#filter_options {
  background-color: var(--clr_gray-light);
  overflow-y: hidden;

  margin: 0 -.75rem 1rem;
  padding: .5rem .75rem;

  height: 21.25rem;
  width: 17.5rem;

  transition: height .3s ease-in, padding .05s linear;
}

.collapse {
  height: 0 !important;
  padding: 0 .75rem !important;
}

.category {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.category h4 {
  font-size: 1.25em;
  text-align: center;

  grid-column: 1 / 3;
  margin-bottom: .5rem;
}

.cook-time {
  position: relative;
}

.cook-time::after {
  content: 'Less than';
  font-size: .9rem;

  position: absolute;
  bottom: -0.75rem;
  left: 0;

  width: 100%;
}

/* * Custom Check Boxes */
.option {
  cursor: pointer;
  display: block;

  position: relative;

  padding: .25rem 0;
  padding-left: 1.75rem;

  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  width: 100%;
}

.option input {
  cursor: pointer;
  opacity: 0;
  position: absolute;

  height: 0;
  width: 0;
}

.check {
  background-color: var(--clr_gray-med_light);
  border-radius: .25rem;

  position: absolute;
  top: .25rem;
  left: 0;

  height: 1.5rem;
  width: 1.5rem;

  transition: background-color .2s ease-in-out;
}

.option:hover input~.check {
  background-color: var(--clr_gray-medium);
}

.option input:checked~.check {
  background-color: var(--clr_red);
}

.check::after {
  content: "";
  display: none;
  opacity: 0;
  position: absolute;
  transition: opacity .2s ease-in-out;
}

.option input:checked~.check::after {
  display: block;
  opacity: 1;
}

.option .check::after {
  border: solid white;
  border-width: 0 3px 3px 0;

  left: 9px;
  top: 4px;

  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);

  height: 13px;
  width: 7px;
}

.submit-btn {
  border: none;
  cursor: pointer;
  font-size: 1.25rem;

  top: 0;
  right: 0;
  align-self: center;

  height: 2.5rem;
  width: 10rem;
}

/* ! ------------- ABOUT ------------------ ! */
#action {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#action .red-btn {
  width: 15rem;
}

/* * ------------- TABLET ------------------ * */
@media screen and (min-width: 48rem) {
  main {
    padding: 1.5rem;
  }

  #hero {
    margin-top: -1.5rem;
    height: 20rem;
  }

  #hero h3 {
    font-size: 2rem;
  }

  .rec_subtitle {
    font-size: 1.25rem;
    padding: 0.75rem 0;
  }

  #mission {
    padding: .5rem 1rem;
  }

  #mission .nav_link {
    margin: 0 -.5rem;
  }

  .rec_grid {
    display: grid;
    grid-template-columns: repeat(2, 22rem);
    justify-items: center;
  }

  .rec_grid h2 {
    grid-column: 1 / 3;
  }

  .recipe:nth-last-child(-n+2)::after {
    content: none;
  }

  .recipe .rec_subtitle {
    font-size: 1.15rem;
    padding: 0;
  }

  .rec_title {
    font-size: 1.25rem;
  }

  #dir_list li {
    margin-bottom: 1.5rem;
  }

  #rec-info section {
    margin-bottom: 2.5rem;
  }

  #search_form {
    width: 28rem;
  }

  #search {
    width: 25rem;
  }

  #filter_options {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 2rem;
    align-items: start;

    position: relative;
    left: -2.5rem;

    height: 17rem;
    width: 34rem;
  }
}

/* * ------------- DESKTOP ------------------ * */
@media screen and (min-width: 64rem) {
  #search_form {
    margin-bottom: 2rem;
    width: 28rem;
  }

  #filter_options {
    margin: 0 auto;
    position: static;
  }

  .rec_grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 1rem;
    width: 100%;
  }

  .rec_grid h2 {
    text-align: center;
    grid-column: 1 /4;
  }

  .recipe {
    padding: .5rem;
    grid-template-columns: 100%;
    grid-column-gap: 0;
    grid-template-rows: 20.5rem 4rem 2.725rem;
    grid-template-areas: "img""title""btn";

    height: 28rem;
    width: 100%;
    max-width: 21rem;
  }

  .recipe::after {
    content: none;
  }

  .recipe h4 {
    margin-bottom: .5rem;
  }

  .recipe a {
    justify-self: center;
    width: 16rem;
  }

  #rec-wrap {
    display: grid;
    grid-template-columns: 20rem auto;
    grid-column-gap: 2rem;
  }

  #rec-info {
    grid-column: 1 / 3;
  }

  #rec-hero {
    grid-row: 1 / 5;
    width: unset;
    height: 20rem;
  }

  #ingredients {
    display: grid;
    grid-template-columns: 35% auto;
    grid-column-gap: 2rem;
    grid-template-rows: 2.5rem auto;
    grid-template-areas:
      "ing_title ing_img"
      "ing_list ing_img";
  }

  #rec-info {
    margin-top: 2rem;
  }

  #ingredients h3 {
    grid-area: ing_title;
  }

  #ingredients img {
    grid-area: ing_img;
  }

  #ing_list {
    grid-area: ing_list;
  }

  #tools {
    display: grid;
    grid-template-columns: 35% auto;
    grid-column-gap: 2rem;
    grid-template-rows: 2.5rem 3.25rem auto;
    grid-template-areas:
      "tool_head tool_head"
      "tool_title tool_img"
      "tool_desc tool_img";
  }

  #tools h3 {
    grid-area: tool_head;
  }

  .tool-title h4 {
    margin-bottom: 0;
  }

  #tools .tool-title {
    grid-area: tool_title;
  }

  #tools img {
    grid-area: tool_img;
    height: 30rem;
    width: unset;
  }

  #tools p {
    grid-area: tool_desc;
  }

  #dir_list li {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 2rem;
    grid-template-rows: 2rem auto;
    grid-template-areas:
      "step_name step_img"
      "step_info step_img";
  }

  #dir_list li::after {
    grid-column: 1 / 3;
    justify-self: center;
    width: 90%;
  }

  #dir_list li:last-of-type::after {
    content: none;
  }

  #dir_list h4 {
    grid-area: step_name;
  }

  .step_img {
    grid-area: step_img;
  }

  #dir_list p {
    grid-area: step_info;
  }
}