*,
*::after,
*::before {
  box-sizing: border-box;
}

:root {
  --clr_gray_light: #eeeeee;
  --clr_gray_dark: #252525;
  --clr_black: #1b1b1b;
}

html {
  font-size: 100%;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  color: var(--clr_black);
}

/* ! ------------------- HEADER ------------------- */
header {
  display: flex;
  background-color: var(--clr_gray_dark);
  align-items: center;
  color: var(--clr_gray_light);
  flex-direction: column;
}

#hc-logo {
  height: 3rem;
  position: relative;
  top: .25rem;
  width: 9rem;
  margin-top: .5rem;
}

#hc-logo-svg {
  display: block;
  position: relative;
  height: 2rem;
}

#hc-logo-svg path {
  fill: var(--clr_gray_light);
}

#hc-logo-chef {
  transform: translateY(-1.15rem) translateX(.5rem);
}

h1 {
  margin: .5rem 0 1rem;
}

h2 {
  margin-top: .5rem;
  text-align: center;
}

a {
  text-decoration: none;
}


/* ! ------------------- SEARCH ------------------- */
#admin_search {
  margin-bottom: 1rem;
}

#search {
  height: 2rem;
  border-radius: .25rem;
  border: none;
  width: 12rem;
  margin-right: .75rem;
  padding: 0 .5rem;
}

input[type="submit"] {
  background: none;
  border: none;
  border: 2px solid;
  border-color: var(--clr_gray_dark);
  color: var(--clr_gray_dark);
  height: 3rem;
  width: 13rem;
  border-radius: .25rem;
  font-weight: 300;
  cursor: pointer;
  transition: background-color .1s ease-in,
    color .1s ease-in;
  font-weight: 600;
  margin: 0 auto;
}

.search-btn {
  background-color: none !important;
  border-color: var(--clr_gray_light) !important;
  color: var(--clr_gray_light) !important;
  height: 2rem !important;
  width: 5rem !important;
  transition: background-color 1s ease-in,
    color .1s ease-in;
  font-weight: 400 !important;
}

input[type="submit"]:active,
input[type="submit"]:focus,
input[type="submit"]:hover {
  background-color: var(--clr_gray_dark);
  color: var(--clr_gray_light);
}

.search-btn:active,
.search-btn:focus,
.search-btn:hover {
  background-color: var(--clr_gray_light) !important;
  color: var(--clr_gray_dark) !important;
}

/* ! ------------------- NAV ------------------- */
nav {
  padding: .5rem;
  display: flex;
  justify-content: center;
}

#icon_plus {
  height: 2.75rem;
  width: 2.75rem;
}

#icon_plus>g:nth-child(1)>g:nth-child(1)>svg:nth-child(1)>g:nth-child(3)>g:nth-child(1)>g:nth-child(1)>path:nth-child(1) {
  transition: fill .1s ease-in;
}

.nav_link {
  background-color: var(--clr_gray_light);
  height: 3rem;
  display: inline-flex;
  align-items: center;
  padding: .5rem 1rem .5rem .5rem;
  color: var(--clr_gray_dark);
  text-decoration: none;
  border: 2px solid var(--clr_gray_dark);
  border-radius: .25rem;
  width: 13rem;
  justify-content: center;
  transition: background-color .1s ease-in,
    color .1s ease-in,
    box-shadow .1 ease-in;
}

.nav_link:active,
.nav_link:focus,
.nav_link:hover {
  background-color: var(--clr_gray_dark);
  color: var(--clr_gray_light);
  -webkit-box-shadow: 0px 0px 10px 3px rgba(37, 37, 37, 0.25);
  -moz-box-shadow: 0px 0px 10px 3px rgba(37, 37, 37, 0.25);
  box-shadow: 0px 0px 10px 3px rgba(37, 37, 37, 0.25);
}

.nav_link:active #icon_plus>g:nth-child(1)>g:nth-child(1)>svg:nth-child(1)>g:nth-child(3)>g:nth-child(1)>g:nth-child(1)>path:nth-child(1),
.nav_link:focus #icon_plus>g:nth-child(1)>g:nth-child(1)>svg:nth-child(1)>g:nth-child(3)>g:nth-child(1)>g:nth-child(1)>path:nth-child(1),
.nav_link:hover #icon_plus>g:nth-child(1)>g:nth-child(1)>svg:nth-child(1)>g:nth-child(3)>g:nth-child(1)>g:nth-child(1)>path:nth-child(1) {
  fill: var(--clr_gray_light);
}


/* ! ------------------- MAIN ------------------- */
main {
  display: block;
  padding: 0 1rem 2rem;
  max-width: 36rem;
  margin: 0 auto;
  position: relative;
}

#back {
  height: 3rem;
  position: absolute;
  display: flex;
  left: 0;
  color: var(--clr_gray_dark);
  transition: left .1s ease-in;
}

#back:active,
#back:focus,
#back:hover {
  left: -.5rem;
}

#back svg {
  height: 3rem;
}

/* ! ------------------- RECIPES ------------------- */
.rec_item {
  display: grid;
  grid-template-columns: 2.5rem auto 4rem;
  align-items: center;
  color: var(--clr_black);
  text-decoration: none;
  padding-left: 1rem;
  border-radius: .25rem;
  margin-bottom: .5rem;
  transition: background-color .1s ease-in,
    box-shadow .1s ease-in;
}

.rec_item:hover {
  background-color: var(--clr_gray_light);
  -webkit-box-shadow: 0px 0px 10px 3px rgba(37, 37, 37, 0.25);
  -moz-box-shadow: 0px 0px 10px 3px rgba(37, 37, 37, 0.25);
  box-shadow: 0px 0px 10px 3px rgba(37, 37, 37, 0.25);
}

/* ! ------------------- RECIPE FORM ------------------- */
.input-cont {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
  position: relative;
}

.input-cont .rec-data {
  width: 10rem;
  display: inline-block;
  position: absolute;
  left: 11.5rem;
  bottom: .5rem;
}

.input-cont .rec-data>p {
  margin: 0;
}


input.form-item {
  height: 2rem;
  border-radius: .15rem;
  border: none;
  border: 2px solid var(--clr_gray_dark);
  padding: 0 .5rem;
}

label {
  font-size: 1.15rem;
  font-weight: 600;
  margin-bottom: .25rem;
}

#rec-form {
  margin-top: 1rem;
}

.instruction {
  margin: .25rem 0 .5rem;
}

.example {
  font-size: .8rem;
}

.example p {
  margin: .5rem 0;
  font-size: 1rem;
  font-style: italic;
  font-weight: 600;
}

.example li {
  margin-bottom: .25rem;
}

.example li>ol {
  margin-top: .25rem;
}

.inputfile {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

.inputfile+.file-label {
  font-size: 1rem;
  font-weight: 700;
  color: var(--clr_gray_dark);
  display: inline-block;
  border: 2px solid var(--clr_gray_dark);
  width: 10rem;
  height: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  border-radius: .25rem;
  transition: background-color .1s ease-in,
    color .1s ease-in;
}

.inputfile:focus+.file-label,
.inputfile+.file-label:hover {
  background-color: var(--clr_gray_dark);
  color: var(--clr_gray_light);
}

.inputfile+.file-label {
  cursor: pointer;
}

.inputfile:focus+.file-label {
  outline: 1px dotted #000;
  outline: -webkit-focus-ring-color auto 5px;
}